[Unit]
Description=Game Server Node Service
After=network.target

[Service]
Type=simple
ExecStart=/rust/GamePlayServerNode_dev/release/GamePlayServerNode_dev
WorkingDirectory=/rust/GamePlayServerNode_dev/release
Restart=on-failure
RestartSec=5
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
